@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button,
input,
textarea {
  outline: none;
}

.app {
  @apply flex justify-center items-center flex-col max-w-[1440px] mx-auto sm:px-16 px-6 pb-8;
}

.active_link_dot {
  @apply relative after:absolute after:w-2 after:h-2 after:rounded-full after:bg-orange-300 after:left-1/2 after:translate-x-[-50%] after:bottom-[-10px];
}

.nav_link {
  @apply text-primary font-normal text-base py-2 hover:text-orange-300 focus:text-orange-300 transition-colors outline-none;
}

.teacher_info {
  @apply text-primary font-medium text-base;
}

.form_input {
  @apply w-full h-[54px] pl-[18px] border border-primary border-opacity-10 rounded-xl text-primary placeholder:text-opacity-70 font-normal text-base hover:border-orange-300 focus:border-orange-300 transition-colors;
}

.form_error {
  @apply text-red-500 text-sm absolute left-5;
}

.log_out_btn {
  @apply border border-primary border-opacity-20 rounded-full h-12 px-10 text-base font-medium text-primary hover:border-orange-300 focus:border-orange-300 transition-colors;
}

.radio_btn {
  @apply text-primary text-opacity-20 peer-checked:text-orange-300 transition-colors;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
